* {
  box-sizing: border-box;
}
html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
html::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #000;
  background: #fff;
  overflow: auto;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
textarea {
  border: 0;
  outline: none;
}
button,
div,
span,
img {
  outline: none;
}
i {
  font-style: normal;
  outline: none;
}
a,
a:active,
a:focus,
a:hover,
a:visited {
  color: #333;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
table {
  border-collapse: collapse; /* 合并边框 */
}
/* 文字溢出后出现省略号 */
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
